<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- JNDI DataSource -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/SeqWareMetaDB"/>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>net/sourceforge/seqware/common/model/Mappings.hbm.xml</value>
            </list>
        </property>

        <property name="packagesToScan">
            <array>
                <value>net.sourceforge.seqware.common.model</value>
                <value>io.seqware.common.model</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</prop>
                <prop key="hibernate.default_entity_mode">pojo</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.connection.driver_class">org.postgresql.Driver</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction manager for the Hibernate SessionFactory. -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- RegistrationDAO: Hibernate implementation -->
    <bean id="registrationDAO" class="net.sourceforge.seqware.common.dao.hibernate.RegistrationDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="sequencerRunDAO" class="net.sourceforge.seqware.common.dao.hibernate.SequencerRunDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="laneDAO" class="net.sourceforge.seqware.common.dao.hibernate.LaneDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="invoiceDAO" class="net.sourceforge.seqware.common.dao.hibernate.InvoiceDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="limsKeyDAO" class="net.sourceforge.seqware.common.dao.hibernate.LimsKeyDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="IUSDAO" class="net.sourceforge.seqware.common.dao.hibernate.IUSDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="processingDAO" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Registration Service -->
    <bean id="registrationService"
          class="net.sourceforge.seqware.common.business.impl.RegistrationServiceImpl">
        <property name="registrationDAO" ref="registrationDAO"/>
    </bean>

    <!-- Processing Service -->
    <bean id="processingService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingServiceImpl">
        <property name="processingDAO" ref="processingDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <!-- SequencerRun Service -->
    <bean id="sequencerRunService"
          class="net.sourceforge.seqware.common.business.impl.SequencerRunServiceImpl">
        <property name="sequencerRunDAO" ref="sequencerRunDAO"/>
        <property name="laneDAO" ref="laneDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <!-- Lane Service -->
    <bean id="laneService"
          class="net.sourceforge.seqware.common.business.impl.LaneServiceImpl">
        <property name="laneDAO" ref="laneDAO"/>
        <property name="processingDAO" ref="processingDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
        <property name="IUSDAO" ref="IUSDAO"/>
    </bean>

    <!-- Invoice Service -->
    <bean id="invoiceService"
          class="net.sourceforge.seqware.common.business.impl.InvoiceServiceImpl">
        <property name="invoiceDAO" ref="invoiceDAO"/>
    </bean>

    <!-- LimsKey Service -->
    <bean id="limsKeyService"
          class="net.sourceforge.seqware.common.business.impl.LimsKeyServiceImpl">
        <property name="limsKeyDAO" ref="limsKeyDAO"/>
    </bean>

    <!-- IUS Service -->
    <bean id="IUSService"
          class="net.sourceforge.seqware.common.business.impl.IUSServiceImpl">
        <property name="IUSDAO" ref="IUSDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <!-- Added for SRA compliance -->

    <!-- Study Service -->
    <bean id="studyService"
          class="net.sourceforge.seqware.common.business.impl.StudyServiceImpl">
        <property name="studyDAO" ref="studyDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="studyDAO" class="net.sourceforge.seqware.common.dao.hibernate.StudyDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Study Type Service -->
    <bean id="studyTypeService"
          class="net.sourceforge.seqware.common.business.impl.StudyTypeServiceImpl">
        <property name="studyTypeDAO" ref="studyTypeDAO"/>
    </bean>

    <bean id="studyTypeDAO" class="net.sourceforge.seqware.common.dao.hibernate.StudyTypeDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Organism Service -->
    <bean id="organismService"
          class="net.sourceforge.seqware.common.business.impl.OrganismServiceImpl">
        <property name="organismDAO" ref="organismDAO"/>
    </bean>

    <bean id="organismDAO" class="net.sourceforge.seqware.common.dao.hibernate.OrganismDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Platform Service -->
    <bean id="platformService"
          class="net.sourceforge.seqware.common.business.impl.PlatformServiceImpl">
        <property name="platformDAO" ref="platformDAO"/>
    </bean>

    <bean id="platformDAO" class="net.sourceforge.seqware.common.dao.hibernate.PlatformDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- LibrarySelection Service -->
    <bean id="librarySelectionService"
          class="net.sourceforge.seqware.common.business.impl.LibrarySelectionServiceImpl">
        <property name="librarySelectionDAO" ref="librarySelectionDAO"/>
    </bean>

    <bean id="librarySelectionDAO" class="net.sourceforge.seqware.common.dao.hibernate.LibrarySelectionDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- LibrarySource Service -->
    <bean id="librarySourceService"
          class="net.sourceforge.seqware.common.business.impl.LibrarySourceServiceImpl">
        <property name="librarySourceDAO" ref="librarySourceDAO"/>
    </bean>

    <bean id="librarySourceDAO" class="net.sourceforge.seqware.common.dao.hibernate.LibrarySourceDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- LibraryStrategy Service -->
    <bean id="libraryStrategyService"
          class="net.sourceforge.seqware.common.business.impl.LibraryStrategyServiceImpl">
        <property name="libraryStrategyDAO" ref="libraryStrategyDAO"/>
    </bean>

    <bean id="libraryStrategyDAO" class="net.sourceforge.seqware.common.dao.hibernate.LibraryStrategyDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Experiment Service -->
    <bean id="experimentService"
          class="net.sourceforge.seqware.common.business.impl.ExperimentServiceImpl">
        <property name="experimentDAO" ref="experimentDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="experimentDAO" class="net.sourceforge.seqware.common.dao.hibernate.ExperimentDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Sample Service -->
    <bean id="sampleService"
          class="net.sourceforge.seqware.common.business.impl.SampleServiceImpl">
        <property name="sampleDAO" ref="sampleDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="sampleDAO" class="net.sourceforge.seqware.common.dao.hibernate.SampleDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- File Service -->
    <bean id="fileService"
          class="net.sourceforge.seqware.common.business.impl.FileServiceImpl">
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="fileDAO" class="net.sourceforge.seqware.common.dao.hibernate.FileDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- File Report Service -->
    <bean id="fileReportService"
          class="net.sourceforge.seqware.common.business.impl.FileReportServiceImpl">
        <property name="fileReportDAO" ref="fileReportDAO"/>
    </bean>

    <bean id="fileReportDAO" class="net.sourceforge.seqware.common.dao.hibernate.FileReportDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Sample Report Service -->
    <bean id="sampleReportService"
          class="net.sourceforge.seqware.common.business.impl.SampleReportServiceImpl">
        <property name="sampleReportDAO" ref="sampleReportDAO"/>
    </bean>

    <bean id="sampleReportDAO" class="net.sourceforge.seqware.common.dao.hibernate.SampleReportDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Experiment Library Design Service -->
    <bean id="experimentLibraryDesignService"
          class="net.sourceforge.seqware.common.business.impl.ExperimentLibraryDesignServiceImpl">
        <property name="experimentLibraryDesignDAO" ref="experimentLibraryDesignDAO"/>
    </bean>

    <bean id="experimentLibraryDesignDAO" class="net.sourceforge.seqware.common.dao.hibernate.ExperimentLibraryDesignDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Experiment Spot Design Service -->
    <bean id="experimentSpotDesignService"
          class="net.sourceforge.seqware.common.business.impl.ExperimentSpotDesignServiceImpl">
        <property name="experimentSpotDesignDAO" ref="experimentSpotDesignDAO"/>
    </bean>

    <bean id="experimentSpotDesignDAO" class="net.sourceforge.seqware.common.dao.hibernate.ExperimentSpotDesignDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Experiment Spot Design Read Spec Service -->
    <bean id="experimentSpotDesignReadSpecService"
          class="net.sourceforge.seqware.common.business.impl.ExperimentSpotDesignReadSpecServiceImpl">
        <property name="experimentSpotDesignReadSpecDAO" ref="experimentSpotDesignReadSpecDAO"/>
    </bean>

    <bean id="experimentSpotDesignReadSpecDAO" class="net.sourceforge.seqware.common.dao.hibernate.ExperimentSpotDesignReadSpecDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing Experiments Service  -->
    <bean id="processingExperimentsService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingExperimentsServiceImpl">
        <property name="processingExperimentsDAO" ref="processingExperimentsDAO"/>
    </bean>

    <bean id="processingExperimentsDAO" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingExperimentsDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing IUS Service  -->
    <bean id="processingIUSService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingIUSServiceImpl">
        <property name="processingIUSDAO" ref="processingIUSDAOHibernate"/>
    </bean>

    <bean id="processingIUSDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingIUSDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing Lanes Service  -->
    <bean id="processingLanesService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingLanesServiceImpl">
        <property name="processingLanesDAO" ref="processingLanesDAOHibernate"/>
    </bean>

    <bean id="processingLanesDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingLanesDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing Relationship Service  -->
    <bean id="processingRelationshipService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingRelationshipServiceImpl">
        <property name="processingRelationshipDAO" ref="processingRelationshipDAOHibernate"/>
    </bean>

    <bean id="processingRelationshipDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingRelationshipDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!-- Processing Samples Service  -->
    <bean id="processingSamplesService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingSamplesServiceImpl">
        <property name="processingSamplesDAO" ref="processingSamplesDAOHibernate"/>
    </bean>

    <bean id="processingSamplesDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingSamplesDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing Sequencer Runs Service  -->
    <bean id="processingSequencerRunsService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingSequencerRunsServiceImpl">
        <property name="processingSequencerRunsDAO" ref="processingSequencerRunsDAOHibernate"/>
    </bean>

    <bean id="processingSequencerRunsDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingSequencerRunsDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Processing Studies Service  -->
    <bean id="processingStudiesService"
          class="net.sourceforge.seqware.common.business.impl.ProcessingStudiesServiceImpl">
        <property name="processingStudiesDAO" ref="processingStudiesDAOHibernate"/>
    </bean>

    <bean id="processingStudiesDAOHibernate" class="net.sourceforge.seqware.common.dao.hibernate.ProcessingStudiesDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Share Study Service -->
    <bean id="shareStudyService"
          class="net.sourceforge.seqware.common.business.impl.ShareStudyServiceImpl">
        <property name="shareStudyDAO" ref="shareStudyDAO"/>
    </bean>

    <bean id="shareStudyDAO" class="net.sourceforge.seqware.common.dao.hibernate.ShareStudyDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Workflow Service -->
    <bean id="workflowService"
          class="net.sourceforge.seqware.common.business.impl.WorkflowServiceImpl">
        <property name="workflowDAO" ref="workflowDAO"/>
    </bean>

    <bean id="workflowDAO" class="net.sourceforge.seqware.common.dao.hibernate.WorkflowDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Share WorkflowRun Service -->
    <bean id="shareWorkflowRunService"
          class="net.sourceforge.seqware.common.business.impl.ShareWorkflowRunServiceImpl">
        <property name="shareWorkflowRunDAO" ref="shareWorkflowRunDAO"/>
    </bean>

    <bean id="shareWorkflowRunDAO" class="net.sourceforge.seqware.common.dao.hibernate.ShareWorkflowRunDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- WorkflowRun Service -->
    <bean id="workflowRunService"
          class="net.sourceforge.seqware.common.business.impl.WorkflowRunServiceImpl">
        <property name="workflowRunDAO" ref="workflowRunDAO"/>
        <property name="processingDAO" ref="processingDAO"/>
        <property name="workflowRunParamDAO" ref="workflowRunParamDAO"/>
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="workflowRunDAO" class="net.sourceforge.seqware.common.dao.hibernate.WorkflowRunDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- WorkflowRunParam Service -->
    <bean id="workflowRunParamService"
          class="net.sourceforge.seqware.common.business.impl.WorkflowRunParamServiceImpl">
        <property name="workflowRunParamDAO" ref="workflowRunParamDAO"/>
    </bean>

    <bean id="workflowRunParamDAO" class="net.sourceforge.seqware.common.dao.hibernate.WorkflowRunParamDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- FileType Service -->
    <bean id="fileTypeService"
          class="net.sourceforge.seqware.common.business.impl.FileTypeServiceImpl">
        <property name="fileTypeDAO" ref="fileTypeDAO"/>
    </bean>

    <bean id="fileTypeDAO" class="net.sourceforge.seqware.common.dao.hibernate.FileTypeDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- WorkflowParam Service -->
    <bean id="workflowParamService"
          class="net.sourceforge.seqware.common.business.impl.WorkflowParamServiceImpl">
        <property name="workflowParamDAO" ref="workflowParamDAO"/>
    </bean>

    <!-- WorkflowParam DAO -->
    <bean id="workflowParamDAO" class="net.sourceforge.seqware.common.dao.hibernate.WorkflowParamDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- WorkflowParamValue Service -->
    <bean id="workflowParamValueService"
          class="net.sourceforge.seqware.common.business.impl.WorkflowParamValueServiceImpl">
        <property name="workflowParamValueDAO" ref="workflowParamValueDAO"/>
    </bean>

    <!-- WorkflowParamValue DAO -->
    <bean id="workflowParamValueDAO" class="net.sourceforge.seqware.common.dao.hibernate.WorkflowParamValueDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- AnalysisProvenance Service -->
    <bean id="analysisProvenanceService"
          class="net.sourceforge.seqware.common.business.impl.AnalysisProvenanceServiceImpl">
        <property name="analysisProvenanceDAO" ref="analysisProvenanceDAO"/>
        <property name="IUSDAO" ref="IUSDAO"/>
    </bean>
	
    <!-- AnalysisProvenance DAO -->
    <bean id="analysisProvenanceDAO" class="net.sourceforge.seqware.common.dao.hibernate.AnalysisProvenanceDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- SampleProvenance Service -->
    <bean id="sampleProvenanceService" class="net.sourceforge.seqware.common.business.impl.SampleProvenanceServiceImpl">
        <property name="IUSDAO" ref="IUSDAO"/>
    </bean>
    
    <!-- LaneProvenance Service -->
    <bean id="laneProvenanceService" class="net.sourceforge.seqware.common.business.impl.LaneProvenanceServiceImpl">
        <property name="laneDAO" ref="laneDAO"/>
    </bean>

    <tx:annotation-driven />

    <bean class=
  "org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <context:component-scan base-package="net.sourceforge.seqware.common">
    </context:component-scan>
    <context:component-scan base-package="net.sourceforge.seqware.webservice">
    </context:component-scan>


    <bean id="contextImpl" class="net.sourceforge.seqware.common.ContextImpl">
        <property name="studyService" ref="studyService"/>
        <property name="experimentService" ref="experimentService"/>
        <property name="fileService" ref="fileService"/>
        <property name="limsKeyService" ref="limsKeyService"/>
        <property name="iusService" ref="IUSService"/>
        <property name="laneService" ref="laneService"/>
        <property name="processingService" ref="processingService"/>
        <property name="sampleService" ref="sampleService"/>
        <property name="sampleReportService" ref="sampleReportService"/>
        <property name="sequencerRunService" ref="sequencerRunService"/>
        <property name="workflowRunService" ref="workflowRunService"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="registrationService" ref="registrationService"/>
        <property name="processingRelationshipService" ref="processingRelationshipService"/>
        <property name="processingExperimentsService" ref="processingExperimentsService"/>
        <property name="processingIusService" ref="processingIUSService"/>
        <property name="processingLaneService" ref="processingLanesService"/>
        <property name="processingSamplesService" ref="processingSamplesService"/>
        <property name="processingSequencerRunService" ref="processingSequencerRunsService"/>
        <property name="processingStudiesService" ref="processingStudiesService"/>
        <property name="workflowParamService" ref="workflowParamService"/>
        <property name="workflowParamValueService" ref="workflowParamValueService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="platformService" ref="platformService"/>
        <property name="studyTypeService" ref="studyTypeService"/>
        <property name="librarySelectionService" ref="librarySelectionService"/>
        <property name="librarySourceService" ref="librarySourceService"/>
        <property name="libraryStrategyService" ref="libraryStrategyService"/>
        <property name="organismService" ref="organismService"/>
        <property name="analysisProvenanceService" ref="analysisProvenanceService"/>
        <property name="sampleProvenanceService" ref="sampleProvenanceService"/>
    </bean>

</beans>
